@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
* {
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

@theme inline {
  --collor-black: #0D0000;
  --collor-white: #F2F2F2;
  --collor-gray: #4A4A4A;
  --collor-gold: #E0AB1A;
  --collor-green: #79BF0F;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}



